footer {
    width: 100%;
    height: 35%;
    bottom: 0px;
    background-color: #ffffff;
    cursor: default;
    box-shadow: 0 1px 5px 0 #88858f;
    position: flex;
}


.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 0;
}

.right.box {
    margin-right: -15%;
}

.left.box {
    margin-left: 10%;
}

.right.box {}

.box h2 {
    color: #42078f;
    font-size: 1.125rem;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
}

.box h2:hover {
    color: #474747;
}

.place,
.phone,
.email {
    padding-bottom: 15px;
}

.content .fas {
    margin-right: 5px;
    width: 30px;
}

.content {
    padding: 10px 0 10px 0;
    color: #474747;
}

.form-items .input {
    width: 56%;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #c7c7c7;
    border: 0;
    outline: none;
    border-radius: 15px;
    font-size: medium;
}

.form-items .input .message {
    height: 105px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    resize: none;
}

.btn {
    background: #42078f;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 15%;
    letter-spacing: 1.5px;
}