<footer>
    <div class="main-content">
      <div class="left box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-location-arrow"></span>
            <span class="text">Belgrade, Serbia</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+381-646977235</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">nikeInc@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contact Us</h2>
        <div class="content">
          <div class="form">
            <div class="form-items">
              <input type="text" class="input"  placeholder="Email">
            </div>
            <div class="form-items">
              <textarea class="input message" cols="30" rows="3" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="btn">
            Send
          </div>
        </div>
      </div>
    </div>
</footer>
