li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    width: 100%;
    box-shadow: 0 1px 5px 0 #88858f;
    background-color: #ffffff;
}

.container-button {
    margin-right: 12%;
}

.logo {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
    width: 7%;
    box-shadow: 0 1px 5px 0 #88858f;
    margin-left: 10%;
    // padding: 5px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav__links li a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

.nav__links li a:hover {
    color: #5e35b1;
    box-shadow: inset 0 -30px 0 #fff, 0 2.3px 0 #5e35b1;
    transition: all 0.5s ease 0s;
}

button {
    padding: 5px 20px 5px 20px;
    background-color: #24252a;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 5px 0 #88858f;
}

button:hover {
    background-color: #5e35b1;
    box-shadow: none
}

// .new-shape {
//     fill: #ffffff;

// }

// .new-shape:hover {
//     fill: #c0a1ff;
//     cursor: pointer;
// }

.avatar {
    margin-left: 20px;
    width: 30px;
    vertical-align: middle;
}