<header>
    <img class="logo" src="https://ho3magazine.com/wp-content/uploads/2018/12/Nike_1280-20150120104711373.jpg" alt="logo">
        <nav>
            <ul class="nav__links">
                <li> <a routerLink="/home">Home</a></li>
                <li> <a routerLink="/ads">Ads</a></li>
                <li> <a routerLink="/about">About</a></li>
            </ul>
        </nav>
        <div class="container-button">
             <a class="button" routerLink="/login"><button>Login<img class="avatar" src="assets/img/avatar2.svg"></button></a>
        </div>
</header>
