<section class="cards">
  <div class="contara">
  <div class="menu-container">
    <button class="menu-toggler" (click)="toggleMenu()">Sort by Id</button>
    <div class="menu" *ngIf="isMenuOpened">
      <div class="menu-item" (click)="sortIdAsc()">Asc</div>
      <div class="menu-item" (click)="sortIdDsc()">Desc</div>
    </div>
    <div class="menu-container">
    <button class="menu-toggler2" (click)="toggleMenu2()">Sort by Date</button>
    <div class="menu" *ngIf="isMenuOpened2">
      <div class="menu-item" (click)="sortDateAsc()">Asc</div>
      <div class="menu-item" (click)="sortDateDsc()">Desc</div>
    </div>
  </div>
  </div>
</div>
    <div class="card" *ngFor="let b of blogs">
      <img class="card-image" src={{b.image}} width="100%"/>
      <h2>{{b.title}}</h2>
              <div class="date-card" >
            <div class="day">{{b.date | date: 'd'}}</div>
            <div>
               <div class="month">{{b.date | date: 'MMMM'}}</div>
              <div class="year">{{b.date | date: 'YYYY'}}</div>
            </div>
          </div>
      <p>{{b.description}}</p>
      <div class="button-wrapper">
        <button class="btn-read">READ MORE</button>
      </div>
    </div>
  </section>

  <!-- <table class="sort_btns">
  <th>SORT by Id</th>
  <td><button class="btnId" (click)="sortIdAsc()">Asc</button></td>
  <td><button class="btnDate" (click)="sortIdDsc()">Dsc</button></td>
  <th>SORT by Date</th>
  <button class="btnId" (click)="sortDateAsc()">Asc</button>
  <button class="btnDate" (click)="sortDateDsc()">Dsc</button>
</table> -->