.cards {
    color: aliceblue;
    display: inline-flex;
    justify-content: center;
    // flex-wrap: wrap;
    margin: 30px 11% 30px 10%
}

.card {
    background: aliceblue;
    color: #000;
    width: 50%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 #88858f;
}

.card>p {
    font-family: 'IBM Plex Serif', serif;
    font-size: large;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 15px;
}

.card-image {
    height: 200px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

// .nike-1 {
//     background-image: url('https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/f55bf732-7fa9-4b38-8464-3332d97f879a/nike%E2%80%99s-best-casual-shoes-for-everyday-wear.jpg');
// }

// .nike-2 {
//     background-image: url('https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/e6424c44-7b50-4acb-8c40-aa9712c29924/nike%E2%80%99s-best-casual-shoes-for-everyday-wear.jpg')
// }

// .nike-3 {
//     background-image: url('https://i.pinimg.com/originals/78/81/19/788119c4231660dbd2a22822517aeae3.jpg')
// }

// .nike-4 {
//     background-image: url('https://i.pinimg.com/736x/39/78/f6/3978f6fa6045a7f748122cf288a61a37.jpg')
// }

.card h2 {
    font-family: "Montserrat", sans-serif;
    margin: 25px;
}

.card p {
    padding: 10px;
    font-size: 17px;
    margin: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover {
    border: 1px solid #402663;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 1s ease;

    .date-card {
        transition: all 1s ease;
    }

    .btn-read {
        transition: all 1s ease;
        box-shadow: none;
    }
}

.date-card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #42078f;
    margin: 15px;
    display: inline-flex
}

.date-card .day {
    font-size: 28px;
    padding-right: 5px;
    color: #2ab6b6;
}

.date-card .month {
    font-weight: bold;
}

.btn-read {
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #402663;
    color: white;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 1px 5px 0 #88858f;
    width: 25%;
    inline-size: auto;
}

.menu-container {
    width: 150px;
    font-weight: bold;
    // background: white;
    color: #000;
    // font-size: 20px;
    text-align: center;
    cursor: pointer;
    // height: fit-content;
    margin: 15px 0 10px;
    // border-radius: 10px;
}

.menu-container2 {
    // margin-top: 10%;
}

.menu-toggler,
.menu-toggler2 {
    background: #402663;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0 0 5px 0;
}

.menu {
    background: #9181a7;
    color: black;
    padding: 10px;
    border: 1px solid black;
    // margin-bottom: 0;
    border-radius: 10px;
    position: absolute;
    width: inherit;
}

.menu-item {
    cursor: pointer;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 400;
}

.menu-item:hover {
    text-decoration: underline;
}

.contara {
    background: white;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    border: 1px solid #402663;
}